* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.side-nav {
    position: fixed;
    top: 50px; 
    right: 40px; 
    display: flex;
    gap: 10px; 
    z-index: 1000;
}

.nav-button {
    background-color: #f1c40f; 
    color: #2c3e50; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none; 
    font-size: 1.2rem; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
    background-color: #e67e22;
    transform: scale(1.05); 
}

.home {
    height: 100vh;
    background: url('pictures/193900704_4747561108604440_1498018246974954191_n.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.home .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    color: white;
    z-index: 1;
    padding: 20px;
}
.home-content img {
    margin-bottom: -20px; 
    width: 250px; 
    height: auto;  
    display: block;
    margin: 0 auto; 
}

.home-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
}

.spots {
    padding: 50px 20px;
    background-color: #f9f6f2;
}

.spots h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #333;
}

.article {
    margin-bottom: 40px;
}

.article h3 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.article-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.article-images img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.article-images img:hover {
    transform: scale(1.05);
}
.article p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

